.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.username {
  font-size: 20px;
  font-weight: bold;
  padding: 8px 1px;
  background: rgb(143, 143, 207);
}

h5 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  text-align:left;
}

#navbar-header{
  background: linear-gradient(70deg, rgb(98, 98, 226), rgb(246, 243, 243));
  padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color:black;
}

.card {
  margin: 10px 0px 10px 10px;
  border: none;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

.username.card-header {
  padding:10px;
}

.card-text {
  padding:10px;
  margin-bottom:0px;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn.btn-primary {
  background-color: rgb(98, 98, 226);
  border:none;
}

.add-container{
  width:70%;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
  border-radius: 5px;
}
.row {
  margin-right: 10px;
}






